_site
.sass-cache
.jekyll-cache
.jekyll-metadata
vendor
debug.log
__pycache__
.DS_STORE
.env*
package.json
package-lock.json
yarn.lock
node_modules
images/unused/22-1247-RESEARCHKILA-006.JPG
images/unused/22-1247-RESEARCHKILA-029.JPG
images/unused/24-1113-CLASSSTOCK1-082.JPG
images/unused/24-1159-CAMPUSSTOCK-119.JPG
images/unused/24-1686-STOCK-008.JPG
images/unused/background0.jpg
images/unused/boston_ghibli.jpg
images/unused/boston_ghibli.png
images/unused/boston.jpg
images/unused/logo0.svg
images/unused/stock_photo_campus_big_cropped.jpg
images/unused/stock_photo_campus_big.jpg
images/unused/stock_photo_campus_ghibli.png
images/unused/stock_photo_campus.jpg
images/unused/stock_photo_math.jpg
images/unused/stock_photo_students_ghibli_cooler.jpg
images/unused/stock_photo_students.jpg
images/unused/stock_photo_students2_ghibli.png
images/unused/stock_photo_students2.jpg
images/unused/stock_photo_trees.jpg
images/unused/betty_ghibli.png
images/unused/betty.jpg
images/unused/sophie_ghibli.png
_cite/.cache/cache.db
.gitignore
_data/citations.yaml
