# site properties and page defaults
title: cinnamonlab
subtitle: Boston University
description: Cinnamonlab is a computational linguistics research group at Boston University led by Sophie Hao. Cinnamonlab takes an interdisciplinary approach to language model interpretability and its applications, incorporating ideas and perspectives from across the sciences, social sciences, and humanities.
header: images/stock_photo_campus_ghibli.jpg
footer: images/stock_photo_river_ghibli.jpg
proofer: false

# site social media and other links
links:
  # email: contact@yidinghao.com
  orcid: 0000-0001-8033-0242
  google-scholar: fl7rVEYAAAAJ
  github: yidinghao
  # twitter: yidinghao
  # youtube: yidinghao

### jekyll settings

# front matter defaults
defaults:
  # all markdown files
  - scope:
      path: ""
    values:
      layout: default
  # markdown files in /_members
  - scope:
      type: "members"
    values:
      layout: member
  # markdown files in /_posts
  - scope:
      type: "posts"
    values:
      layout: post

collections:
  # generate page for each member
  members:
    output: true
  # generate page for each post
  posts:
    output: true

# jekyll plugins
plugins:
  - jekyll-spaceship
  - jekyll-sitemap
  - jekyll-redirect-from
  - jekyll-feed
  - jekyll-last-modified-at

# code block syntax highlighting
highlighter: rouge

# jekyll theme
theme: null

# sass settings
sass:
  sass_dir: _styles

# force jekyll to include certain files/folders
include:
  - _styles
  - _scripts

# force jekyll to exclude certain files/folders
exclude:
  - README.md
  - LICENSE.md
  - CITATION.cff
