---
---

// colors
[data-dark="false"] {
  --primary: #cc0000;
  --secondary: #eeaeca;
  --text: #2d2926;
  --background: #ffffff;
  --background-alt: #eeaeca;
  --background-alt: radial-gradient(circle,#eeaeca66 0%, #94bbe966 100%);
  --light-gray: #2d292620; 
  --gray: #2d292680; 
  --dark-gray: #2d2926bf; 
  --overlay: #00000020;
}

[data-dark="true"] {
  --primary: #eddd53; 
  --secondary: #cc0000;
  --text: #ffffff;
  --background: #242629dd;
  --background-alt: #247ba0;
  --background-alt: radial-gradient(circle, #247ba066 0%, #1b998b66 100%);
  --light-gray: #ffffff40; 
  --gray: #ffffff80; 
  --dark-gray: #ffffffb0; 
  --overlay: #ffffff10;
}

:root {
  // font families
  --title: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  --heading: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  --body: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  --code: monospace;

  // font sizes
  --large: 1.2rem;
  --xl: 1.4rem;
  --xxl: 1.6rem;

  // font weights
  --thin: 200;
  --regular: 400;
  --semi-bold: 600;
  --bold: 700;

  // text line spacing
  --spacing: 1.5;
  --compact: 1.3;

  // effects
  --rounded: 3px;
  --shadow: 0 0 10px 0 var(--overlay);
  --transition: 0.2s ease;

  // antialiasing
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
